@media (min-width: 600px) {
  /*Tags selectors*/
  header {
    flex: 1;
    height: 100vh;
  }

  main {
    flex: 1;
  }

  /*Class Selectors*/
  .page-container {
    min-width: 800px;
    display: flex;
    flex-direction: row-reverse;
  }

  .card:first-child {
    /*height: 100%;*/
    background-image: url("images/image-header-desktop.jpg");
  }

  .car::before:first-child {
    height: 100vh;
  }
}
