:root {
  /*   Colors*/

  /*   Primary*/
  --very-dark-blue-main-back: hsl(233, 47%, 7%);
  --har-desaturated-blue-card-back: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);

  /*    Neutral*/
  --white-main-heading: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-para: hsla(0, 0%, 100%, 0.75);
  --slightly-transpare-white-main-heading: hsla(0, 0%, 100%, 0.6);
}

/*Reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Base selectors*/

body {
  background-color: var(--very-dark-blue-main-back);
  font-family: "Inter", sans-serif;

  color: white;
  font-size: 15px;
}

h1 {
  color: var(--white-main-heading);
  margin-bottom: 1.5rem;
}

h1 span {
  display: block;
  text-align: center;
}

main {
  position: relative;
}

p {
  color: var(--slightly-transparent-white-main-para);
}

section {
  margin-bottom: 2rem;
}

/*h1 + section p:first-child span {*/
/*  display: block;*/
/*  text-align: center;*/
/*}*/

section:first-of-type p:first-child span {
  color: var(--slightly-transpare-white-main-heading);
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

section:last-of-type {
  text-align: center;
}

section:last-of-type p:first-child {
  color: var(--white-main-heading);
  font-size: 2rem;
  font-weight: 800;
}

section:last-of-type p:last-child {
  text-transform: uppercase;
  font-size: 1rem;
}

img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

/*class selectors*/
.page-container {
  background-color: var(--har-desaturated-blue-card-back);
  border-radius: 1rem;
  width: 375px;
  margin-inline: auto;
  padding-bottom: 1rem;
  margin-block: 3rem;
}

/*card*/

.card {
  border-radius: 1rem 1rem 0 0;
  background-image: url("images/image-header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  position: relative;
  height: 30vh;
}

.card::before {
  border-radius: 1rem 1rem 0 0;

  background-color: var(--soft-violet-accent);
  opacity: 0.5;
  height: 30vh;
  width: 100%;
  float: left;
  content: "";
  color: white;
}

.insight {
  color: var(--soft-violet-accent);
  display: inline;
}

.stat-items {
  margin-bottom: 1.3rem;
}

.stat-items p {
  margin-bottom: 0.5rem;
}
